body {

  background-color: rgb(90, 90, 90) !important;
  margin: 0px;

}


section {

  margin-bottom: 50px;
}

#img1 {

  width: 100%;
  max-height: 550px;
  margin-bottom: 20px;
  display: flex;

}

#img2 {

  width: 1513px;
  height: 350px;
  margin-bottom: 20px;

}

#titulo {

  color: aliceblue;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 400%;
  text-shadow: 2px 2px 7px black;

}

a {

  color: aliceblue !important;
  text-decoration: none !important;

}

a:hover {

  color: darkorange !important;
  text-decoration: underline;

}


#quem {

  color: darkorange;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 400%;
  text-shadow: 2px 2px rgb(171, 96, 4);

}

#quem1 {

  color: aliceblue;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 170%;

}

#botom1 {

  background-color: darkorange;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 16px;
  align-items: center;

}

#botom1 :hover {

  background-color: rgb(175, 98, 5);

}

#ramos {

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 400%;
  color: aliceblue;
  text-shadow: 2px 2px 7px black;

}



#even {

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 400%;
  color: darkorange;
  text-shadow: 2px 2px rgb(171, 96, 4);


}

#even1 {

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 170%;
  color: aliceblue;
}

.row {

  width: 100%;
  height: 322px;
  padding: 2%;
  margin: 20px;
}

.som {
  padding: 0% !important;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}

.col1 {

  row-gap: 20px;

}

.row1 {

  margin-bottom: 300px;

}


#formu {

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 400%;
  color: darkorange;
  text-shadow: 2px 2px rgb(171, 96, 4);
}

#formu1 {

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 170%;
  color: aliceblue;

}


form {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

input,
textarea,
button {
  width: 100%;
  padding: 8px;
  margin-top: 8px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;

}

button {
  background-color: darkorange;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

button:hover {
  background-color: rgb(175, 98, 5);
}

@media screen and (max-width: 600px) {

  #grid {

    grid-template-columns: 500px;

  }


}